{% extends "web/base.html" %}
{% load humanize %}

{% block title %}{{ app.id }}{% endblock %}

{% block content %}
<h1><a href="/">Dānabox</a></h1>
<div class="blue">
  <h2>{{ app.id }}</h2>
  <div class="row-fluid well">
    <div class="span12">
    <strong>Served from:</strong>
      <h3><a href="http://{{ app.id }}.{{ app.formation.domain }}">http://{{ app.id }}.{{ app.formation.domain }}</a></h3>
    </div>
  </div>

  <div class="row-fluid well">
    <form action="" method="post" class="span6">
      <div>
        <strong>Donation form:</strong>
      </div>
      {% csrf_token %}

      {{form.captcha.errors}}
      {{form.captcha}}

      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
    <span class="span6">
      <p>
        When Dānabox is stable this will be the payment form. But right now Danabox is free and
        this little captcha is all you need to submit in order to get more credits. For every correct
        captcha {{ settings.CREDITS_PER_CAPTCHA }} credits will be added to the app. That is enough to run 1 dyno for 12 hours.
      </p>
      <p>
        Most importantly this form is public to everyone in the world and will remain so even when
        Dānabox is out of beta. This is the whole point of Dānabox; <em>anyone</em> can contribute
        to the upkeep of the app.
      </p>

      <p>
        Not all of your donation will go straight to the app. Currently {{ pool_cut }}
        is shared with the rest of the apps, so they each get a bit of extra uptime. And 
        {{ danabox_cut }} goes to Dānabox itself to pay server costs and one day potentially
        pay someone to manage the Dānabox infrastructure. All of Dānabox's donations and costs will
        be public.
      </p>
    </span>
  </div>

  <div class="row-fluid well">
    <div class="span6">
    <strong>Details:</strong>
      <dl class="dl-horizontal">
        <dt>Updated</dt>
        <dd>{{ app.updated }}</dd>
        <dt>Created</dt>
        <dd>{{ app.created }}</dd>
        <dt>Owned by</dt>
        <dd>{{ app.owner }}</dd>
        <dt>Heartbeats</dt>
        <dd>{{ app.heartbeats }}</dd>
        <dt>Credits</dt>
        <dd>{{ app.credits }}</dd>
        <dt>Github</dt>
        <dd><a href="{{ app.github_uri }}">{{ app.github_uri }}</a></dd>
      </dl>
    </div>
    <div class="span6">
      {% if containers|length > 0 %}
        <dl class="dl-horizontal">
          {% for container in containers %}
            <dt>{{ container.type }}</dt>
            <dd>{{ container.num }}</dd>
          {% endfor %}
        </dl>
      {% else %}
        <strong>This app is not currently running</strong>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
