{% extends "web/base.html" %}
{% load humanize %}

{% block title %}{{ app.id }}{% endblock %}

{% block content %}
<div class="blue">
  <h1>{{ app.id }}</h1>
  <div class="row-fluid well">
    <div class="span3">
      <h3>{{ app.id }}</h3>
    </div>

    <form action="" method="post">
        {% csrf_token %}

        {{form.captcha.errors}}
        {{form.captcha}}

        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>

    <div class="span6">
      <dl class="dl-horizontal">
        <dt>Updated</dt>
        <dd>{{ app.updated }}</dd>
        <dt>Created</dt>
        <dd>{{ app.created }}</dd>
        <dt>Owned by</dt>
        <dd>{{ app.owner }}</dd>
        <dt>Heartbeats</dt>
        <dd>{{ app.heartbeats }}</dd>
        <dt>Credits</dt>
        <dd>{{ app.credits }}</dd>
      </dl>
    </div>
    <div class="span3">
      {% if containers|length > 0 %}
        {% for container in containers %}
          {{ container.type }}
          {{ container.num }}
        {% endfor %}
      {% else %}
        <strong>This is app is not currently running</strong>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
