{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <title>Dānabox | {% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" media="screen" type="text/css">
  <link rel="stylesheet" href="{% static "css/bootstrap-responsive.min.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css">
  <link rel="shortcut icon" href="{% static "img/favicon.png" %}">
  <link href='http://fonts.googleapis.com/css?family=Exo:400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <meta name='robots' content='noindex,nofollow' />
  {% block extrahead %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  <div class="container">

    <div class="column_calc contents">
      <header>
         <a href="/">
          <img class="logo" src="{% static "img/logo.png" %}">
          <h1 class="heading">Dānabox</h1>
          <span class="strapline">Crowdfunded Hosting</span>
        </a>
      </header>

      <em class="beta_text">
        Currently in private beta.
        <div class="get_in_touch">
          Get in touch: <a href="http://twiter.com/danaboxes">@danaboxes</a>
          or hi<span style="display:none">nospam</span>@danabox.io
        </div>
      </em>

      {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}

      {% block content %}{% endblock %}

      <footer>
        Dānabox
      </footer>
    </div>

  </div> <!-- container -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>');</script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
