{% extends "web/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %}Crowdfunded Hosting{% endblock %}
{% block body_class %}home{% endblock %}

{% block content %}

<p class="hero">
  A <a href="http://heroku.com">Heroku</a>-inspired hosting platform where the payment pages are 
  public. <em>Anyone</em> can contribute to the hosting costs of an app.
</p>

<p>
  We promise that all money donated to an app will <em>only</em> ever be used for computation costs. App owners are not
  allowed access to the money. To inspire confidence that donations are put to good use, all code deployed to Dānabox
  must be publically available on <a href="http://github.com">Github</a>.
</p>

<p>
  Dānabox is <a href="https://github.com/danabox">open source</a>, built on <a href="http://deis.io">Deis</a>, hosted
  with <a href="http://digitalocean.com/">Digital Ocean</a> and will <em>never</em> be a for-profit organisation.
</p>

<p>
  There are currently <strong>{{ formation.danabox_credits }}</strong> credits in the central pool from which all apps
  can draw.
</p>

<p class="definition">
  <strong>Dāna</strong>: /d̪aːna/ Pali. The inclination to give, without expecting any form of repayment
  from the recipient.
</p>

<div class="getting_started">
  <h2>Getting Started</h2>
  <p>Because Dānabox is based on Heroku, a lot of the <a href="https://devcenter.heroku.com/articles/quickstart">Heroku 
  documentation</a> is applicable. If an app runs on Heroku it should run on Dānabox. Here is how you would deploy your
  first app with Dānabox:</p>
  <ol>
  	<li>
      <span class="gs_step">
    		Install the Dānabox client using <a href="http://www.pip-installer.org/en/latest/installing.html">pip</a>:
      </span>
  		<pre><code>$ pip install danabox</code></pre>
  	</li>

    <div style="clear:both"></div>

  	<li>
      <span class="gs_step">
    		Login using your Github credentials:
      </span>
  		<pre><code>$ danabox login</code></pre>
  	</li>

    <div style="clear:both"></div>

  	<li>
      <span class="gs_step">
  		  Go to the local version of your Github repository:
      </span>
<pre><code>$ cd /path/to/my-application-repo
$ danabox create
Creating application... done, created opdemand-example--ruby--sinatra</code></pre>
  	</li>

    <div style="clear:both"></div>

  	<li>
      <span class="gs_step">
    		Use `danabox deploy` to deploy your application:
      </span>
<pre><code>$ danabox deploy
From https://github.com/opdemand/example-ruby-sinatra
* branch            master     -> FETCH_HEAD
Already up-to-date.
     Ruby app detected
-----> Compiling Ruby/Rack
-----> Using Ruby version: ruby-1.9.3
-----> Installing dependencies using Bundler version 1.3.2
     Running: bundle install --without development:test --path vendor/bundle --binstubs vendor/bundle/bin --deployment
     Using rack (1.5.2)
     Using rack-protection (1.5.0)
     Using tilt (1.3.6)
     Using sinatra (1.4.2)
     Using bundler (1.3.2)
     Your bundle is complete! It was installed into ./vendor/bundle
     Bundle completed (0.34s)
     Cleaning up the bundler cache.
-----> Discovering process types
     Procfile declares types -> web
     Default process types for Ruby -> rake, console, web

-----> Compiled slug size: 11.5 MB
     Launching... done, v4

-----> opdemand-example--ruby--sinatra deployed to Dānabox
     http://opdemand-example--ruby--sinatra.danabox.es

-----> Donation page available at:
     http://danabox.io/app/opdemand-example--ruby--sinatra

     To learn more, use `danabox help` or visit http://danabox.io</code></pre>
  	</li>

    <div style="clear:both"></div>

  </ol>
</div>

<h2 class="all_applications">All applications currently installed on Dānabox</h2>
<ul>
  {% for app in apps %}
	<li>
      <a href="{% url 'web.views.app' app.id %}">
        {{ app.id }}
      </a> |
      <a href="http://github.com/{{ app.owner.username }}">
        {{ app.owner.username }}
      </a> |
      <a href="{{ app.github_uri }}">
        Github
      </a> |
      <a href="http://{{ app.id }}.danabox.es">
        Visit
      </a> |
        Uptime: {{ app.heartbeats }} minutes |
        Credits: {{ app.credits }}
  </li>
  {% endfor %}
</ul>
{% endblock %}
